body {
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #fff;
  color: #4d5156;
  margin: 10px;
}
body[data-mode=error] {
  background-color: #ffdcdc;
}
body::before {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
  z-index: 2;
  line-height: 1.25;
}

body[data-mode=empty]::before {
  content: 'There is no media on this tab. You can drop HTML links, selected text from this page to extract media links, or local M3U8 manifest to start downloading them.';
}
body[data-mode=done] {
  background-color: #f1ffed;
}
body[data-mode=parse],
body[data-mode=download] {
  pointer-events: none;
}
body[data-mode=download]::before {
  content: 'Download is in progress. Please do not close this window...';
}
body[data-mode=parse]::before {
  content: 'Parsing M3U8 manifest...';
}
body[data-mode=parse]::before,
body[data-mode=download]::before {
  color: #fff;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.8);
}

select,
button,
input[type=submit],
input[type=button] {
  height: 100%;
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
}
select,
button,
textarea,
input {
  border: solid 1px rgba(0, 0, 0, 0.25);
}
input[type=button]:disabled {
  opacity: 0.2;
}
textarea {
  width: 100%;
  box-sizing: border-box;
  display: block;
}
textarea,
input[type=text],
input[type=number] {
  padding: 5px;
  outline: none;
}
textarea:focus,
input[type=text]:focus,
input[type=number]:focus {
  background-color: #e5f8ff;
}
a,
a:visited {
  color: #07c;
}

.entry {
  display: contents;
}
.entry.done span {
  color: #007e00;
  font-weight: bold;
}
.entry.error span {
  color: #db0000;
  font-weight: bold;
}

#hrefs {
  display: grid;
  grid-template-columns: minmax(auto, 120px) repeat(2, min-content) 1fr repeat(3, min-content);
  grid-gap: 10px 0;
  align-items: center;
  overflow: hidden;
}
#hrefs * {
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  text-overflow: ellipsis;
}
#hrefs span {
  padding: 8px;
}

#hrefs .entry:nth-child(2n) * {
  background-color: rgba(0, 0, 0, 0.05);
}

#hrefs input[type=button] {
  margin-right: 2px;
}
